.pokemonList {
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
  /* background-color: red; */
}

.loadContainer {
  /* border: solid 5px orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
