.card {
  /* background-color: red; */
  border-radius: 0.2rem;
  /* border: solid 1px darkgray; */
  margin: 1rem;
  overflow: hidden;
  min-width: 100px;
  box-shadow: 3px -3px 0.2rem rgb(19, 235, 145);
}

.spriteContainer {
  background-color: rgba(216, 216, 216, 0.25);
}

.nameContainer {
  background-color: rgb(142, 255, 148);
  text-align: center;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: "Roboto";
  letter-spacing: 2px;
  font-weight: 900;
  text-shadow: rgb(97, 97, 97) 1px 0 25px;
  color: rgb(0, 0, 0);
}

.sprite {
  height: 100px;
}
