.personCircle,
.personImg {
  max-width: 100%;
  display: block;
}

.container {
  padding: 1rem;
}

.person {
  max-width: 15rem;
  margin-inline: auto;
  position: relative;
  --transform-speed: 250ms;
  --transition-timing: cubic-bezier(1, 0.04, 0.88, 0.41);
}

.personContainer {
  aspect-ratio: 1 / 1.35;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) var(--transition-timing);
}

.personContainer:hover {
  transform: scale(1.1);
}

.personCircle {
  position: absolute;
  inset: auto 0 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
}

.personImg {
  position: relative;
  z-index: 2;
  transform: scale(1.1);
  transition: transform var(--transform-speed) var(--transition-timing);
}

.personContainer:hover .personImg {
  transform: scale(1.1) translateY(-1rem);
}
